body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: gray;
}
.container {
  padding: 1rem;
}

.container:nth-child(2n + 1) {
  background-color: #eee;
}
header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 2rem;
}

ul.navigation {
  display: flex;
  margin-left: auto;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.navigation > li {
  padding: 0.5rem;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.hero h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

[col-*] {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
}

.hero img {
  object-fit: cover;
  height: 260px;
  border-radius: 1rem;
}

img.logo {
  max-height: 64px;
  padding: 0.5rem;
}

img.avatar {
  border-radius: 2rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

img.avatar:hover {
}

.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

article img {
  max-height: 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.quote-text {
  align-self: flex-start;
  font-size: x-large;
  font-style: italic;
}

.quote .author {
  align-self: flex-end;
  font-weight: bold;
  padding: 0 1rem;
  /* margin-right: 2rem; */
}

.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  padding: 2rem 0;
  /* border: #333 solid 1px; */
  border-radius: 1rem;
  background: #eee;
  width: 60%;
}

.cta-text {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.cta-text p,
.cta-text h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.cta-text h3 {
  text-transform: uppercase;
}

button::before,
button::after {
  content: " 🍞 ";
}

button {
  background: #fff;
  border: burlywood solid 2px;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
}

button:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-top: #ccc solid;
}

@media all and (max-width: 600px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
  }
  ul.navigation {
    margin-left: 0;
  }
}

@media all and (max-width: 800px) {
  .hero img {
    border-radius: 0;
    max-height: initial;
    max-width: 100%;
    display: none;
  }

  .hero {
    flex-wrap: wrap;
    justify-content: start;
    padding: 1rem;
    gap: 0px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.11),
        rgba(238, 238, 238, 0.603)
      ),
      url(../img/Hero.jpg);
    background-size: 800px;
  }
  .container {
    padding: 0;
  }
  .cta {
    flex-direction: column;
    align-items: center;
  }
}
